:root {
  /*-----------------------------------------*/
  /*------------------COLORS------------------*/
  /*------------------------------------------*/

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --dark-chocolate-cherries: hsl(358, 31%, 39%);
  --deep-autumn-orange: hsl(27, 99%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --scarlet-red: hsl(8, 100%, 50%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  --onyx-darker: hsl(0, 0%, 25%);
  --dirty-white: hsla(196, 6%, 53%, 0.6);
  --dirty-onyx: hsla(0, 0%, 27%, 0.6);
  --bright-blue: hsl(263.83, 0.274%, 51.01%);
  --electric-violet: hsl(296.97, 0.28%, 53.18%);
  --french-violet: hsl(305.88, 0.246%, 47.66%);
  --vivid-pink: hsl(332.77, 0.277%, 69.02%);
  --hot-red: hsl(15.34, 0.238%, 61.42%);
  --orange-red: hsl(31.68, 0.24%, 63.32%);

  --gray-900: hsl(300.98, 0.006%, 19.37%);
  --gray-700: hsl(302.71, 0.014%, 36.98%);
  --gray-400: hsl(304.04, 0.015%, 70.9%);

  --golden-yellow-gradient: radial-gradient(
    circle,
    rgba(255, 191, 0, 1) 0%,
    rgba(255, 207, 64, 1) 36%,
    rgba(255, 220, 115, 1) 100%
  );
  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  /*---------------------------------------------*/
  /*------------------TYPOGRAPHY------------------*/
  /*----------------------------------------------*/

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*-------------------------------------------------*/
  /*------------------BORDER RADIUS------------------*/
  /*-------------------------------------------------*/

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /*----------------------------------------------*/
  /*------------------TRANSITION------------------*/
  /*----------------------------------------------*/

  --transition-timing: 0.2s ease;

  --font: "Roboto", sans-serif;
  --fontOrigin: 1rem;
  /* 16px */
  --fontSmall: 0.625em;
  /* 10px */
  --fontMedium: 0.875em;
  /* 14px */
  --fontNormal: 1em;
  /* 16px */
  --fontLarge: 1.375em;
  /* 22px */
  --fontLight: 100;
  --fontRegular: 400;
  --speed: 0.65s;
}

html *
{
   font-size: 1em !important;
   font-family: Arial !important;
}